# binaries
*.dvi
*.pdf

# pdflatex auto generated junk
*.aux
*.log
*.out
*.toc

# bibtex auto generated junk
*.bbl
*.blg

# AUCTeX and preview-latex junk
*.prv
auto
_region_.tex
*.fmt

# SyncTeX junk
*.synctex.gz
